 body{
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}
.bar{
    justify-content: space-between;
    width: 100%;
    height: 113px;
    position: fixed;
    z-index: 1;
}
.bar img{
    height: 45px;
    width: 64px;
    margin-right: auto;
    margin-left: 80px;
    margin-top: 39px;
}
.lista{
    justify-content: stretch;
    padding:49px 64px 16px 64px;
}
.enlace{
    color: white;
    text-decoration: none;
    margin: 6px;
    padding:10px 16px;
    font-size: 20px;
}
.enlace:hover{
    color: #FF00BF;
}
.borde{
    border: 1px solid white;
    border-radius: 8px;
}
.caja{
    position: absolute;
    background-color: white;
    width: 562px;
    height: 419px;
    top: 115px;
    right: 0px;
}
#turn{
    color: rgb(53, 35, 132);
    font-size: 40px;
    line-height: 1;
    font-weight: 600;
    margin-left: 65px;
    margin-top: 62px;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}
#sign{
    color: rgb(53, 35, 132);
    margin-left: 65px;
    height: 36px;
    margin-top: 12px;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}
input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    margin-left: 65px;
    display: block;
    width: 427px;
    border: none;
    border-bottom: 1px solid #757575;
}
#boton{
    background-color: #ff00bf;
    font-weight: 400;
    height: 48px;
    width: 182px;
    font-size: 16px;
    border-radius: 8px;
    color: white;
    margin-left: 65px;
    margin-top: 10px;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}
#ride{
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    color:#BABABA;
    margin-left: 12px;
}
#ride:hover{
    color: #ff00bf;
}
#applied{
    position: relative;
    top: 31px;
}
#earn{
    position: relative;
    top: 31px;
}
.caja p{
    margin-left: 65px;
    margin-top: 12px;
    font-size: 9px;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    color: lightslategray;
}
header video{
    height: 100%;
    width: 100%;
}
.first-section{
    background-color: rgb(115, 37, 141);
    color:white;
    padding:64px 96px;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}
.cajita{
    padding-left: 67px;
    height: 125px;
}
.first-section img{
    max-height: 480px;
    height: 100%;
    position: relative;
    left: 0px;
}
.contenedor-izq h1{
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 28px;
    font-weight: 600;
}
.contenedor-izq p{
    font-size: 16px;
    line-height: 24px;
}
.second{
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    justify-content: space-between;
    align-items: center;
}
.txt-uno{
    height: 441px;
    padding: 48px;
}
.txt-uno h1{
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 28px;
    color: rgb(51, 52, 71);
    font-weight:600;
}
.txt-uno p{
    margin-top: 27px;
}
.second iframe{
    width:195%;
}
.primero{
    background-color: rgb(51, 52, 71);
    color:white;
    height: 290px;
}
.log{
    position: relative;
    margin-top: 15px;
    margin-right: 34px;
    margin-left: 94px;
    height: 293px;
    right: 96px;
}
.log h1{
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    line-height: 2;
    font-size: 20px;
}
.link{
    cursor: pointer;
    font-size: 13px;
    margin-top: 12px;
    margin-bottom: 24px;
    color: white;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}
.link:hover{
    color:#ff00bf;
}
.img-media{
    margin-top: 50px;
}
.img-media img{
    width: 135px;
    height: 40px;
    margin-bottom: 20px;
    flex-direction: column;
}
.social-media{
    border-radius: 100%;
    width: 35px;
    height: 35px;
    border: 2px solid white;
    text-align: center;
    display: inline-block;
    margin-right: 50px;
}
.social-media i{
    position: relative;
    top: 9px;
}
.underline{
    border: 1px solid white;
    width: 50%;
    position: absolute;
    margin-top: 70px;
}
.media{
    height: 104px;
}
footer{
    background-color: rgb(51, 52, 71);
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: #323345;
    color: white;
}
.final{
    background-color: rgb(51, 52, 71);
    height: 40px;
}
.final p{
    display: flex;
    justify-content: center;
}