 body{
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
.bar{
    justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 1;
}
.bar img{
    height: 45px;
    width: 64px;
    margin-right: auto;
    margin-left: 80px;
    margin-top: 14px;
}
.lista{
    justify-content: stretch;
    padding:31px 64px 16px 64px;
}
.enlace{
    color: white;
    text-decoration: none;
    margin: 6px;
    padding:10px 16px;
    font-size: 20px;
}
.enlace:hover{
    color: #FF00BF;
}
.borde{
    border: 1px solid white;
    border-radius: 8px;
}